@model AutoService.ViewModels.Account.LoginViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Авторизация";
    var returnUrl = "/Views/Account/LoginForm.cshtml";
}
<script src="~/Scripts/BootstrapHelperForms.js"></script>

<div class="custom-form-group">
    <div class="row">
        <div class="col-md-offset-3 col-lg-offset-3 col-sm-offset-2">
            @Html.ValidationSummary(true)
        </div>
    </div>
    @using (Html.BeginForm("Login", "Account", new { returnUrl = returnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "createUserForm" }))
    {
        <div class="container">
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Login, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Login)
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })   
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(m => m.RememberMe, new { @class = "control-label" })
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary col-lg-1 col-lg-offset-4 col-md-1 col-md-offset-4 col-sm-2 col-sm-offset-2 col-xs-3 col-xs-offset-2">Войти</button>
                <a href="~/" class="btn btn-default col-md-1 col-lg-1 col-xs-3 col-sm-2" role="button">Отмена</a>
            </div>
        </div>
    }
</div>

